* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;

}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* ----------aside---------- */

aside {
    width: 220px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

#logoDiv {
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
}

#logoDiv img {
    width: 70%;
    height: 70%;
}

#logoDiv span {
    margin: auto;
}

#navDiv {
    display: grid;
    height: 100%;
    grid-template-rows: repeat(10, 1fr);
}

.navCont {
    display: flex;
    gap: 20px;
    margin-left: 20px;
    border-radius: 10px;
    width: 90%;
    height: 40px;
    padding: 10px;
}

.navCont:hover {
    background-color: rgba(202, 202, 202, 0.747);
    cursor: pointer;
}

.mainContSec {
    display: flex;
    flex-direction: column;
}


/* ----------main content--------- */

#contentSec {
    flex: 1;
    display: flex;
    height: 100%;
}

#mainContSec {
    width: 630px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    overflow-y: scroll;
    scrollbar-width: none;
    gap: 10px;
}

#storyDiv {
    min-width: 100%;
    height: 120px;
    padding: 50px 10px;
    gap: 20px;
    display: flex;
    align-items: center;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    position: relative;
}

.story {
    width: 70px;
    height: 70px;
    border-radius: 100%;
    border: 3px rgb(255, 36, 36) solid;

}

.story img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.scorlbtn {
    position: absolute;
    background-color: white;
    width: 20px;
    height: 20px;
    color: black;
    border-radius: 100%;
    cursor: pointer;
    padding: 2px;
}

#scorlLeft {
    top: 40%;
    left: 0;
}

#scorlright {
    top: 40%;
    right: 0;
}

.UserNameOFstory {
    font-size: 14px;
}

/* -----post prfile----- */


.post {
    width: 100%;
    height: 650px;
}

.postPrfileDiv {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PPlogoDiv {
    display: flex;
    font-size: 24px;
    gap: 20px;
    align-items: center;
    margin: 20px;
}

.PPuserDiv {
    font-size: 16px;
}

.PPmore {
    margin: 10px;
}

.postContentSours {
    height: 550px;
    width: 100%;
}

.postContentSours img {
    height: 100%;
    width: 100%;
}

.postOpratoinDiv {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.LikeCommentSherDiv {
    width: 300px;
    padding: 10px;
    font-size: 18px;
}

.Seved {
    padding: 10px;
}

/* -----------Sub main content---------- */

#mainContSubSec {
    width: 350px;
    height: 100%;
    padding: 10px;

}

#shorProfileImgUserDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

#shorProfileImgUserDiv img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

#Profilediv {
    display: flex;
    align-items: center;

}

#UserID {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;

}

#username {
    color: #aaaaaa;
    font-size: 14px;
}

.suggstionshorProfileImgUserDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.suggstionshorProfileImgUserDiv img {
    width: 50px;
    height: 50px;
    border-radius: 100%;
}

.suggstionProfilediv {
    display: flex;
    align-items: center;

}

.suggstionUserID {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;

}

.suggstionusername {
    color: #aaaaaa;
    font-size: 14px;
}

/* -----message----- */
#ShotSMSDiv {
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 5%;
    right: 5%;
    border: .25px black solid;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.15);

}

#SSMSicon {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bolder;
}

/* -----smallnavbar----- */
#SnavDiv{
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
    background-color: white;
}

.Snav{
    font-size: 24px;
    cursor: pointer;
}

/* ---media qurry--- */
@media (min-width:1263px) {
    aside {
        width: 220px;

    }

    #instlogoicon {
        display: none;
    }

    #logoDiv img {
        display: block;
    }

    aside h4 {
        display: block;
    }
}

@media (max-width:1263px) {
    aside {
        width: 50px;

    }

    #instlogoicon {
        display: flex;
        margin: auto;
    }

    #logoDiv img {
        display: none;
    }

    aside h4 {
        display: none;
    }

}

@media (min-width:1160px) {

    #mainContSubSec {
        display: block;
    }
}

@media (max-width:1160px) {

    #mainContSubSec {
        display: none;
    }
}

/* ---730px--- */
@media (max-width:730px) {

    aside {
        display: inline-block;
    }
    #ShotSMSDiv {
        display: block;
    }
   #SnavDiv{
        display: none;
    }
}

@media (max-width:730px) {

    aside {
        display: none;
    }

    #ShotSMSDiv {
        display: none;
    }
    #SnavDiv{
        display: flex;
    }
    
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");